:root {
    --general-bg: #FEF9F3;
    --accent-color: #FFA55C;
    --button-active: #FF9138;
    --conteant-bg: #FFE0CB;
    --general-color: #1F1812;
    --text-color: #312C28;
    --border-color: #AC907A;
    --font-family: "Montserrat", Arial, sans-serif;
    --second-family: "Gabriola";
    --transition: all .4s;
}

body {
    background: var(--general-bg);
    font-family: var(--font-family);
    color: var(--general-color);

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

h1 {
    font-family: var(--second-family);
    color: var(--general-color);
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
}

.button {
    font-family: var(--font-family);
    background: var(--accent-color);
    border-radius: 60px;
    padding: 18px 36px;
    height: 62px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transition: var(--transition);
}

.button:hover {
    background: var(--button-active);
}

.body--opened-menu {
    overflow: hidden;
}

/*===============================HEADER===============================*/

.header {
    background: url('../img/decor/bg-header.png') 50% 100% / cover no-repeat;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 19px;
}

.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
    margin: 29px 0 5px 0;
}

.nav__link {
    display: block;
    position: relative;
    padding: 5px 0;
    transition: all .2s;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: all .35s;
}

.nav__link:hover::before {
    opacity: 1;
}

/*===================================================================*/

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--text-color);
    transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before {
    top: 9px;
}

.burger-icon span::after {
    bottom: 9px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}



/*===================================================================*/

.hero {
    padding: 48px 0 140px;
    display: flex;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    font-family: var(--font-family);
    line-height: 1.60;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #b197b2;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: var(--general-color);
    margin-bottom: 30px;
}

.hero__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color);
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 200px;
    gap: 10px;
    bottom: 11%;
    left: calc(100% - 39px);
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFDFCC;
    box-shadow: 0 4 20 rgba(184, 148, 126, .3);
    position: relative;
}

.hero__img-button img {
    margin-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    inset: 5px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: all .35s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/*===============================footer====================================*/

.footer {
    color: var(--general-bg);
    background: #AA825F;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 13px;
}

.footer__col-item :last-child {
    margin-bottom: 0;
}


.footer__contact-item {
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 50px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
    font-size: 16px;
    line-height: 1.5;
}


.footer__col-link {
    display: block;
    position: relative;
    padding: 5px 0;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: all .35s;
}

.footer__col-link:hover::before {
    opacity: 1;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}


/*===================================================================*/

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
/*===================================================================*/
    .footer__inner{
        gap: 40px 15px;
        justify-content: space-between;
        grid-template-columns: .9fr .9fr 1.1fr auto;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
}

}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 14vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        align-items: center;
        flex-direction: column;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .footer__inner{
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2){
        margin-bottom: 10px;
    }
    .footer__col:nth-child(3){
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin-bottom: 5vh;
    }
}

@media (max-width: 600px) {
    .hero__title {
        font-size: 12vw;
    }
}